#clusterize {
  width: 70vw;

  background: #404040;
  font-family: monospace;
  font-size: large;

  border: 5px inset;

  white-space: pre;

  cursor: default;
}

ul {
  height: 40vw;
  list-style: none;
}

:host ::ng-deep li:hover {
  background: #4d4d4d;
}

:host ::ng-deep .entry {
  background: #666666;
}

#goto {
  position: absolute;
  top: 6px;
  right: 20px;
}

#goto-input {
  margin: 10px;
}

#goto-button {
  margin: 10px;
}
