#clusterize {
  width: 1400px;

  background: #404040;
  font-family: monospace;
  font-size: large;

  border: 5px inset;

  white-space: pre;

  cursor: default;
}

ul {
  height: 800px;
  list-style: none;
}

:host ::ng-deep li:hover {
  background: #4d4d4d;
}

:host ::ng-deep .entry {
  background: #666666;
}
