<mat-grid-list [cols]="4" rowHeight="16:8">
  <mat-grid-tile [colspan]="1" [rowspan]="1">

    <div>
      <h4>Upload x86-32 PE file</h4>
      <form enctype="multipart/form-data" method="post">
        <div>
          <input type="file" id="picked" #picked
                 (change)="onPicked(picked)">
        </div>
      </form>
    </div>

  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="4">

    <mat-tab-group (selectedTabChange)="tabSwap($event)" [selectedIndex]="selectedTab">
      <mat-tab label="Disassembly">
        <app-disassembly [interpretedInstructions]="interpretedInstructions" [currentTab]="currentTab"></app-disassembly>
      </mat-tab>

      <mat-tab label="Graph" [disabled]="isGraphDisabled">
        <app-graph [interpretedInstructions]="interpretedInstructions" [currentTab]="currentTab"></app-graph>
      </mat-tab>
    </mat-tab-group>

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="3">

    <div>
      <h4>Disassemble</h4>
      <div>
        <textarea title="machine-code" cols="40" rows="20" label="machine-code" #machineCode></textarea>
      </div>
      <div>
        <button (click)="onSubmit(machineCode)">Submit</button>
      </div>
    </div>

  </mat-grid-tile>
</mat-grid-list>
