#graph {
  width: 70vw;
  height: 41.5vw;

  border: 5px inset;

  cursor: default;
}

.node {
  fill: #404040;
  stroke: mintcream;
  stroke-width: 2px;
}

.link {
  fill: none;
  stroke-width: 2px;
}

.text {
  fill: #d9d9d9;

  font-family: monospace;
  font-size: large;
}

.header {
  fill: #d9d9d9;
}

#reset-button {
  position: absolute;
  bottom: 6px;
  right: 2px;
}
